*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    background-image: url(./assets/gradient-bg.jpg);
    background-size: cover;
    background-position: center;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
}

.game-info{
    color: white;
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    top:-1rem;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    aspect-ratio: 1/1;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    width: 100%;
    aspect-ratio: 1/1;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    cursor: pointer;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3, .box6{
    border-bottom: 2px solid white;
}

.box7, .box8{
    border-right: 2px solid white;
}


.btn{
    display: none;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    top: 1rem;
}

.btn.active{
    display: flex;
}


.win{
    background-color: rgba(0, 255, 0, 0.3);
}

